absl-py==2.1.0
aeneas==1.7.3.0
aiohttp==3.9.3
aiosignal==1.3.1
amdgpu-fan==0.0.22.post1556022696
annotated-types==0.6.0
anyascii==0.3.2
anyio==4.3.0
argcomplete==2.0.0
astunparse==1.6.3
asyncio==3.4.3
attrs==22.2.0
audioread==3.0.1
autopep8==2.1.0
av==11.0.0
Babel==2.10.3
bangla==0.0.2
bark==0.1.5
bcrypt==3.2.2
beartype==0.17.2
beautifulsoup4==4.11.2
black==24.2.0
blinker==1.7.0
blis==0.7.11
bnnumerizer==0.0.2
bnunicodenormalizer==0.1.6
boto3==1.34.75
botocore==1.34.75
Brlapi==0.8.4
Brotli==1.0.9
build==1.2.1
CacheControl==0.14.0
catalogue==2.0.10
certifi==2024.2.2
cffi==1.16.0
chardet==3.0.4
charset-normalizer==3.0.1
cleo==2.1.0
click==8.1.3
cloudpathlib==0.16.0
colorama==0.4.6
coloredlogs==15.0.1
confection==0.1.4
contourpy==1.2.1
coqpit==0.0.17
crashtest==0.4.1
cryptography==38.0.4
cssselect==1.2.0
ctranslate2==4.1.0
cupshelpers==1.0
cycler==0.12.1
cymem==2.0.8
Cython==3.0.9
dateparser==1.1.8
dbus-python==1.3.2
decorator==4.4.2
deprecation==2.0.7
devscripts==2.23.4+deb12u1
distlib==0.3.8
distro==1.8.0
distro-info==1.5+deb12u1
docker==5.0.3
docker-compose==1.29.2
dockerpty==0.4.1
docopt==0.6.2
download-youtube-subtitle==3.0.2
dulwich==0.21.7
duplicity==0.8.22
edge-tts==4.0.11
einops==0.7.0
encodec==0.1.1
es-core-news-sm @ https://github.com/explosion/spacy-models/releases/download/es_core_news_sm-3.7.0/es_core_news_sm-3.7.0-py3-none-any.whl#sha256=61e6e5530941f5880166855f09f60d7e6ba79ec1e8e45f96244bdb1eb169eb1d
fasteners==0.17.3
faster-whisper==1.0.1
fastjsonschema==2.19.1
ffmpeg-python==0.2.0
filelock==3.13.1
fire==0.6.0
Flask==3.0.2
flatbuffers==24.3.25
fonttools==4.51.0
frozenlist==1.4.1
fsspec==2024.3.1
funcy==2.0
future==0.18.2
g2pkk==0.1.2
gast==0.5.4
ghp-import==2.1.0
google-pasta==0.2.0
googletrans-py==4.0.0
gpg==1.18.0
grpcio==1.62.1
gruut==2.2.3
gruut-ipa==0.13.0
gruut-lang-de==2.0.0
gruut-lang-en==2.0.0
gruut-lang-es==2.0.0
gruut-lang-fr==2.0.2
gTTS==2.5.1
h11==0.14.0
h2==4.1.0
h5py==3.10.0
hangul-romanize==0.1.0
hpack==4.0.0
hstspreload==2024.3.1
html5lib==1.1
httpcore==1.0.5
httplib2==0.20.4
httpx==0.27.0
huggingface-hub==0.21.4
humanfriendly==10.0
hyperframe==6.0.1
idna==2.10
imageio==2.34.1
imageio-ffmpeg==0.4.9
img2pdf==0.4.4
importlib_metadata==7.1.0
inflect==7.2.0
iniconfig==1.1.1
install==1.3.5
installer==0.7.0
invoke==2.0.0
itsdangerous==2.1.2
jamo==0.4.1
jaraco.classes==3.4.0
jedi==0.19.1
jieba==0.42.1
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
jsonlines==1.2.0
jsonpatch==1.33
jsonpointer==2.3
jsonschema==4.10.3
keras==3.1.1
keyring==24.3.1
kiwisolver==1.4.5
langcodes==3.3.0
lazr.restfulclient==0.14.5
lazr.uri==1.0.6
lazy_loader==0.3
Levenshtein==0.25.1
libclang==18.1.1
libretranslatepy==2.1.1
librosa==0.10.1
livereload==2.6.3
llvmlite==0.42.0
lockfile==0.12.2
louis==3.24.0
lunr==0.6.2
lxml==5.1.0
Mako==1.2.4.dev0
Markdown==3.4.1
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.8.4
mdurl==0.1.2
mergedeep==1.3.4
meson==1.0.1
mkdocs==1.4.2
ml-dtypes==0.3.2
monotonic==1.6
more-itertools==8.10.0
moviepy==1.0.3
mpg123==0.4
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
murmurhash==1.0.10
mutagen==1.46.0
mypy-extensions==1.0.0
namex==0.0.7
networkx==2.8.8
nltk==3.8
num2words==0.5.13
numba==0.59.1
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu11==8.7.0.84
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu11==2.19.3
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
olefile==0.46
onnxruntime==1.17.1
openai-whisper==20231117
opt-einsum==3.3.0
optree==0.11.0
packaging==24.0
pafy==0.5.5
pandas==1.5.3
paramiko==2.12.0
path-and-address==2.0.1
pathspec==0.12.1
pdfarranger==1.9.2
pexpect==4.8.0
pikepdf==6.0.0+dfsg
Pillow==9.4.0
pipx==1.1.0
pkginfo==1.10.0
platformdirs==4.2.0
pluggy==1.0.0+repack
poetry-core==1.9.0
poetry-plugin-export==1.7.1
pooch==1.8.1
powerline-status==2.8.3
preshed==3.0.9
progiter==2.0.0
proglog==0.1.10
progressbar==2.5
protobuf==4.25.3
psutil==5.9.4
ptyprocess==0.7.0
py==1.11.0
PyAudio==0.2.13
pycairo==1.20.1
pycodestyle==2.11.1
pycparser==2.21
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.45.2
pydantic==2.6.4
pydantic_core==2.16.3
pydub==0.25.1
pyee==11.1.0
Pygments==2.14.0
PyGObject==3.42.2
pyinotify==0.9.6
PyJWT==2.6.0
PyNaCl==1.5.0
pynndescent==0.5.11
pyparsing==3.0.9
pyphen==0.15.0
pypinyin==0.51.0
pyproject_hooks==1.0.0
pyrsistent==0.18.1
pysbd==0.3.4
PySimpleSOAP==1.16.2
pysmbc==1.0.23
pytest==7.2.1
python-apt==2.6.0
python-crfsuite==0.9.10
python-dateutil==2.8.2
python-debian==0.1.49
python-debianbts==4.0.1
python-dotenv==0.21.0
python-magic==0.4.26
python-pam==2.0.2
python-xlib==0.33
pyttsx3==2.90
pytube==15.0.0
pytz==2022.7.1
pyxattr==0.8.1
pyxdg==0.28
PyYAML==6.0
pyyaml_env_tag==0.1
rapidfuzz==3.8.1
regex==2022.10.31
reportbug==12.0.0
reportlab==3.6.12
requests==2.31.0
requests-toolbelt==1.0.0
resampy==0.4.3
rfc3987==1.3.8
rich==13.7.1
rotary-embedding-torch==0.5.3
s3transfer==0.10.1
safetensors==0.4.2
scikit-learn==1.4.1.post1
scipy==1.13.0
scour==0.38.2
SecretStorage==3.3.3
setproctitle==1.3.1
shellingham==1.5.4
simplejson==3.18.3
six==1.16.0
smart-open==6.4.0
sniffio==1.3.1
sounddevice==0.4.6
soundfile==0.12.1
soupsieve==2.3.2
soxr==0.3.7
spacy==3.7.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy-syllables==3.0.2
SpeechRecognition==3.10.4
srsly==2.4.8
srt==3.5.3
SudachiDict-core==20240109
SudachiPy==0.6.8
sympy==1.12
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.36.0
termcolor==2.4.0
terminaltexteffects==0.10.0
texttable==1.6.7
tgt==1.5
thefuzz==0.22.1
thinc==8.2.3
threadpoolctl==3.4.0
tiktoken==0.6.0
tinycss==0.4
tinycss2==1.2.1
tokenizers==0.15.2
tomlkit==0.12.4
torch==2.3.1
torchaudio==2.3.1
torchvision==0.18.1
tornado==6.2
tqdm==4.64.1
trainer==0.0.36
transformers==4.39.2
translate==3.6.1
triton==2.3.1
trove-classifiers==2024.3.25
TTS==0.22.0
typeguard==4.2.1
typer==0.9.4
typing_extensions==4.10.0
tzlocal==5.2
ufw==0.36.2
umap-learn==0.5.5
Unidecode==1.3.8
unidiff==0.7.3
uritemplate==4.1.1
urllib3==2.2.1
userpath==1.8.0
virtualenv==20.25.1
visdom==0.2.4
wadllib==1.3.6
wasabi==1.1.2
watchdog==2.2.1
weasel==0.3.4
webcolors==1.11.1
webencodings==0.5.1
webrtcvad==2.0.10
websocket-client==1.2.3
websockets==12.0
Werkzeug==3.0.1
wrapt==1.16.0
wxPython==4.2.0
xdg==5
xlrd==1.2.0
yarl==1.9.4
youtube-dl==2021.12.17
youtube-search-python==1.6.6
yt-dlp==2024.4.9
zipp==3.18.1
